@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Indie+Flower&family=Roboto:wght@100&family=Tektur&display=swap');
$textColor: rgb(255, 255, 255);
$cardBody: rgb(41, 40, 40);
$backgroundColor: rgb(14, 14, 14);
$fourth: rgb(154, 142, 142);
$compliment: #1240fa;
$boxShadowColor: rgb(35, 35, 248);
$text1: "Roboto";
$text2: cursive;
.firstLetter{
  color: $textColor;
  font-family: "Tektur", cursive;
}

